.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    font-size: var(--title-font);
}

.contact-form-cointainer {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact label {
    line-height: 2.7em;
    font-size: 1.5rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact .form-control textarea {
    min-height: 6.25rem;
    border-radius: 0.5rem;
    border: 2px black solid;
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    resize: none;
}

.contact .form-control input.input-field {
    height: 2rem;
    border-radius: 0.5rem;
    border: 2px black solid;
    font-size: 1.2rem;
    padding: 0.5rem;
    min-width: 200px;
}

.input-field::placeholder {
    color: var(--secondary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

